.empty-row {
    background-color: #ffe6e6;
  }

  .hoverable-button:hover {
    background-color: #598558; /* Cambia el color de fondo al pasar el cursor */
    border-color: #91c990; /* Cambia el color del borde al pasar el cursor */
    color: #fff; /* Cambia el color del texto al pasar el cursor */
  }
  